#herofooter {

  h2 {
    border: none;
    color: white;
    font-size: 50px;
    font-weight: normal;
    padding: 0;
    margin: auto;

    @include mobile {
      font-size: 40px;
    }
  }

  button {
    font-size: 16px;
    margin: 4rem auto;
    max-width: 230px;
  }

}
