#howwework {

  margin: -5rem auto auto;
  max-width: 1000px;

  h2 {
    border: none;
    font-size: 35px;
    font-weight: normal;
    text-transform: uppercase;
  }

  p {
    color: $color-grey;
    font-size: 1.25rem;
    line-height: 2rem;
  }

  button {
    margin: 25px auto;
    max-width: 100%;
    width: auto;
  }

  .how-we-work-item {
    
    border-radius: 10px;
    border: 1px solid $color-grey;
    color: $color-grey;
    cursor: pointer;
    padding: 2rem;
    position: relative;
    margin: 0 auto 4rem;
    min-height: 820px;
    max-width: 460px;
    text-align: center;
    top: 0;
    transition: all 0.2s;

    &:hover {
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
      top: -15px;
      transform: scale(1.05);
    }

    button {
      bottom: 0;
      left: 50%;
      padding: 15px;
      position: absolute;
      @include transform(translateX(-50%));
    }

    h3 {
      color: $color-blue;
      font-size: 20px;
      margin: 25px auto;
      line-height: 20px;
    }

    h5 {
      color: $color-blue;
      font-size: 16px;
      margin: 25px auto;
      line-height: 20px;
    }

    p {
      color: $color-blue;
      font-size: 16px;
      line-height: 1.5rem;
      text-align: justify;

      &.price {
        color: $color-grey;
        font-size: 30px;
        text-align: center;
      }

      &.length {
        color: $color-gold;
        font-size: 16px;
        text-align: center;
      }

    }

    span {
      font-size: 16px;

      &.order-label {
        color: $color-grey;
        font-size: 40px;
        font-weight: bold;
        margin: 5px 20px 0 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      &.how-we-work-item-icon { 
        color: $color-gold;
        font-size: 60px;
      }

      &.green-color {
        color: green;
        margin-right: 10px;
      }

    }

    ul { 
      margin: 0 auto 40px;
      list-style: none; 
      padding: 0;

      li { margin: 2px; }

    }

  }

}
