
@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin small-screen {
  @media (max-width: #{$small-screen-width - 1px}) {
    @content;
  }
}


@mixin gold-bg {
  background: -moz-linear-gradient(left, #D7B25D 0%, #f5e79b 100%);
  background: -webkit-linear-gradient(left, #D7B25D 0%, #f5e79b 100%);
  background: -o-linear-gradient(left, #D7B25D 0%, #f5e79b 100%);
  background: -ms-linear-gradient(left, #D7B25D 0%, #f5e79b 100%);
  background: linear-gradient(to right, #D7B25D 0%, #f5e79b 100%);  
}
