/********************************************************
 *                    NAVIGATION                        *
 ********************************************************/
.scroll-down {
    position: fixed;
    left: 0;
    right: 0;
    background: $nav-bg-color;
    box-shadow: 0 0 15px black;
    padding: 10px;
    z-index: 99;
    margin-top: 0;
    transition: all .4s ease;
}

ul.scroll-nav {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  
  li {

    a {
      color: $nav-color;
      cursor: pointer;
      padding: 0 15px;
      font-size: 12px;
      font-family: Open Sans,sans-serif;
      font-weight: 400;
      text-transform: uppercase;
      display: inline-block;
      position: relative;

      &.sdm-active {
        background: $nav-bg-color-inverse;
        color: $nav-color-inverse ;
        height: 20px;
        border-radius: 5px;
        animation: grow .25s ease;
      }

      &:hover {
        text-decoration: none;
      }
    }
    
    &.active {
      a {
        background: transparent;
        color: $nav-color-inverse;
      }
    }

  }
}

.nav-pills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  li {
    a {
      &.programs-btn-active {
        color: $nav-color;
        border-bottom: 2px solid $nav-color;
      }
    }
  }
}

/********************************************************
 *                    UI CONTAINER                      *
 ********************************************************/
.neal-section {
  padding: 10rem 25px;
  text-align: center;
}

/********************************************************
 *                    UI ELEMENTS                       *
 ********************************************************/
.btn {
  outline: none;  
  cursor: pointer;

  &.outline {
    background: transparent;
    border-style: solid;
    border-width: 2px;
    transition: all 0.2s linear;
    a {
      text-decoration: none;
    }
    &.btn-gold {
      border-color: $color-gold;
      color: $color-gold;
    }
  }

  &.outline:hover {
      background: #1172c4;
      border-color: white;
      color: white;
      transition: all 0.2s linear;
  }
  &.outline:active {
      border-radius: 22px;
  }

  &.btn-gold:hover {
      border-color: transparent;
      color: white;

      @include gold-bg();
  }

  &.raised:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.3);
  }

}

.btn-gold {
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: normal;
  padding: 25px;
  transition: all 0.3s;
  @include gold-bg();
}


/********************************************************
 *                      FOOTER                          *
 ********************************************************/

footer.neal-footer {
  margin-top: 0;
}

.neal-footer {

  p {
    margin-bottom: 0;

    &.neal-footer-copyright {
      margin-bottom: 0.75rem;
    }
  }

  .navbar-nav.neal-footer-social {
    flex-direction: row;
    -ms-flex-direction: row;
  }

  .social-icons-container {
    width: 270px;
    margin: 2rem auto 0;    
  }

}


/********************************************************
 *                        MODALS                        *
 ********************************************************/
.neal-signup-modal {

  .modal-body {
    p {
      margin-bottom: 2rem;
      font-size: 1rem;
      text-align: justify;
    }
  }

}

.please-wait-modal {
  
  .modal-body {
    text-align: center;
  }

  img {
    margin: auto;
  }
}

.product-info-modal {

  .modal-body {
    p {
      font-size: 1rem;
    }
  }
  
}

.modal-body p {
  font-size: 0.75rem;
  margin-bottom: 2rem;
}

.form-control {
  padding: 0.8rem;
  font-size: 0.8rem;
}

.modal-error {

  .modal-header {
    color: white;
    background-color: #a94442;
  }

  .modal-content {
    color: #a94442;
  }

}

/********************************************************
 *               COLORS AND BACKGROUNDS                 *
 ********************************************************/

.gold-gradient-color {
  @include gold-bg();
 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s;
}

.gold-gradient-bg {
  @include gold-bg();
}

.gray-bg {
  background-color: #f1f1f1;
}

.white-bg {
  background-color: #fff;
}

.transparent-bg {
  background-color: rgba(233, 233, 233, 0.92);
}