#whoweare {

  margin: -9rem auto;
  max-width: 800px;

  h2 {
    border: none;
    font-size: 35px;
    text-transform: uppercase;
  }

  p {
    color: $color-grey;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 2rem;
  }

  button {
    margin: 50px auto;
    width: 300px;
    font-size: 23px;    

    div {
      background: transparent;
      transition: 0.5s all;

      &:hover {
        @include gold-bg();
      }
    }
  }

}
