#whychooseus {
  margin: auto;
  max-width: 1000px;

  h2 {
    color: $color-blue;
    border: none;
    font-size: 35px;
    text-transform: uppercase;
  }

  p {
    color: $color-grey;
    font-size: 1.25rem;
    font-weight: 100;  
    line-height: 2rem;
  }

  p:last-of-type {
    margin: 2rem;
  }

  .why-choose-us-item-container {
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin: 4rem auto;
    min-height: 80%;
    text-align: left;

    &.last {
      padding: 2rem 1rem;
    }

    span {
      color: $color-grey;
      font-size: 16px;
      font-weight: 100;
      text-transform: uppercase;

      &.why-choose-us-icon { 
        color: $color-gold;
        font-size: 30px;
        margin-right: 25px; 
      }

    }

    ul {
      margin: 10px 20px;
      padding: 0;
    }

  }


}

